*{
    margin:0px;
    padding:0px;
}
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
   
  }
.Header{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding: 15px;
    background:  #1f2937;
}
.left-links,.Right-Links{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
}
.Right-Links{
    list-style: none;
    
}
a{
    font-size:18px;
    text-decoration: none;
    color: #e5e7eb;
   
}

h2{
    font-size: 24px;
    color:#F9FAF8;
}
.text{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color: #1f2937;
}

img{
    width: 500px;
    height: 250px;
    margin:30px;
    padding:30px;
}

.left-text,.right-text{
      display:flex;
      flex-wrap: wrap;
    flex-direction: column;
    align-items:space-around;
    justify-content:center;
}

h4{
    font-size:48px;
    font-weight:bold;
    color:#F9FAF8;
}

p{

    font-size:18px;
    color: #e5e7eb;;
}

.button{
    padding: 8px 16px;
    border-radius: 8px;
    color:white;
    border: 1px solid royalblue;
    background-color: #3882F6;
    height: 80x;
    width: 100px;
    margin:10px;

    
}
.info{
    margin:20px;
    display:flex;
    justify-content:center;
    
}
.fame{
    display:flex;
    align-items:center;
    justify-content:space-between;

}



.fame2{
    width: 250px;
    height: 250px;
    margin:3px;
    padding:30px;
}

.quotes{
    gap: 30px;
    font-style:italic;
    font-weight:bold;
    display:flex;
    align-items:space-between; 
    justify-content:space-between;
    
    color:black;

}
.Quote-section{
    margin:40px; 
    display:flex;
    justify-content:center;
    font-size: 36px;
    background-color:#E5E7EB;
    padding:100px;
    
    font-style: italic;  
}

.third-section{
    background-color:#E5E7EB;
    margin-top:30px;
    height:200px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
h3{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f3927;

}

.p-third{
    font-size: 18px;


}
